body, html {
  background-color: green;
  margin: 0%;
  height: 100%;
}

.header {
  color: white;
  height: 5%;
  text-align: center;
  font-size: 100%;
}

.status {
  width: 20%;
  height: 95%;
  float: left;
}

.game_screen {
  width: 80%;
  height: 95%;
  float: left;
}

#start_btn, .remain, .failure, .timer, .msg {
  background-color: aliceblue;
  margin-top: 3%;
  margin-bottom: 3%;
  margin-left: 10%;
  margin-right: 10%;
  height: 4%;
  text-align: center;
  font-size: 150%;
}

.card_table {
  width: 96%;
  height: 80%;
  background-color: #d8fe93;
}

#card0, #card1, #card2, #card3, #card4, #card5, #card6, #card7, #card8, #card9, #card10, #card11, #card12, #card13, #card14, #card15, #card16, #card17, #card18, #card19, #card20, #card21, #card22, #card23 {
  width: 70%;
  height: 70%;
  margin: 15%;
}
